body {
    background-color: aquamarine;
    /* padding-top: 1.5vh; */
    padding-top: 3.5vh;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 4vh;
    text-shadow: rgb(0 0 0 / 12%) 1px 3px 3px;
}

.logo {
    width: 40vh;
    align-self: center;
    margin-bottom: 4vh;
}

.grid-container {
    aspect-ratio: 1/1;
    min-width: 75vmin;
    max-width: 25vmax;
    margin: auto;
    border-style: solid;
    border-width: 4px;
    display: grid;
    background-color: burlywood;
    box-shadow: rgb(0 0 0 / 24%) 3px 3px 8px;
}

.grid-item {
    background-color: white;
    /* aspect-ratio: 1/1;
    align-self: stretch; */
}

.non-selectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.options {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.select {
    width: 11vh;
    margin: 0 0.5vh;
    margin-top: 20px;
    padding: 5px;
    border-radius: 20px;
    border-style: none;
    font-size: larger;
    text-align: center;
    box-shadow: rgb(0 0 0 / 24%) 5px 5px 8px;
}

#sizeSelect {
    width: 11vh;
}

#modeSelect {
    width: 22vh;
}